@charset "UTF-8";
:root {
  --main-title-color:#FFFFFF;
  --second-title-color:#212121;
  --main-text-color:#757575;
  --contacts-color:rgba(255, 255, 255, 0.6);
  --accent-color:#2196F3;
  --main-background:#FFFFFF;
  --second-background:#2F303A;
  --third-background:#F5F4FA;
  --header-background:#FFFFFF;
  --footer-background:#2F303A;
  --main-social-color:#AFB1B8;
  --sekond-social-color:#FFFFFF;
  --main-icon-modal-color:#212121;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  display: block;
  border-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-background);
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.btn {
  min-width: 200px;
  height: 50px;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  align-items: center;
  justify-content: center;
}

.baсkdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.baсkdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-btn {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--main-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-close {
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 12px;
}

.form-data {
  margin-bottom: 10px;
  /* display: flex;
    flex-direction: column; */
}

.form-data-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.form-icon-position {
  position: relative;
}

.form-data-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--main-icon-modal-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-data-icon:hover, .form-data-icon:focus {
  fill: var(--accent-color);
}

.form-data-input:hover + .form-data-icon, .form-data-input:focus + .form-data-icon {
  fill: var(--accent-color);
}

.form-data-input {
  margin-top: 4px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-data-input:hover, .form-data-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.comment {
  margin-bottom: 20px;
  /* display: flex;
    flex-direction: column; */
}

.comment textarea {
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contract {
  color: var(--accent-color);
  margin-left: 4px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.check-item {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-input:focus + .check-text .check-item {
  border: 2px solid var(--accent-color);
}

.check-input:checked + .check-text .check-item {
  background-color: var(--accent-color);
  border: transparent;
}

.check-input {
  appearance: none;
}

.check-icon {
  fill: #ffffff;
}

.modal-btn-send {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.header {
  border-bottom: 1px solid #ECECEC;
  background-color: var(--header-background);
}

.heder__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav__studio {
  color: var(--second-title-color);
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  background: var(--accent-color);
  border-radius: 2px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: var(--second-background);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  max-width: 480px;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

@media screen and (max-width: 767px) {
  .feature__item + .feature__item {
    margin-top: 30px;
  }
}

.feature__link {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  background: var(--third-background);
  border-radius: 4px;
}

.feature__title {
  text-transform: uppercase;
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}

.feature__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.work__section {
  padding-top: 0px;
}

.work__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.work__list {
  display: flex;
  margin-right: -30px;
}

.work__item {
  flex-basis: calc(100% / 3 -30px);
  margin-right: 30px;
  position: relative;
}

.work__after-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--main-title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
}

.command {
  background-color: var(--third-background);
}

.command__title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 33px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

@media screen and (min-width: 1200px) {
  .command__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.command__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .command__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.command__item {
  width: 450px;
  margin-bottom: 30px;
  padding-bottom: 24px;
  background-color: var(--main-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .command__item {
    width: 354px;
    flex-basis: calc(100% / 2 -30px);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .command__item {
    width: 270px;
    padding-bottom: 30px;
  }
}

.command__name {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.command__after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-align: center;
  margin-bottom: 16px;
}

.social-list__link--grey {
  color: var(--main-social-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--sekond-social-color);
}

.social-list__icon {
  fill: currentColor;
}

.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.clients__item {
  width: 450px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .clients__item {
    width: 210px;
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc(100% / 2 -30px);
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
    flex-basis: calc(100% / 3 -30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.clients__link {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-social-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--footer-background);
  max-width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
  display: block;
}

.footer__studio {
  color: var(--main-title-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__adress:hover, .footer__adress:focus {
  color: var(--accent-color);
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.footer__social {
  margin-left: 70px;
  margin-top: 15px;
}

.footer__social-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 61px;
  color: var(--main-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-list__link-wheit {
  color: var(--sekond-social-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.mailing__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-left: 93px;
  margin-bottom: 20px;
}

.mailing__form {
  display: flex;
}

.mailing__input {
  margin-left: 93px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding: 0;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-background);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--main-background);
}

.footer__btn-subscribe {
  display: flex;
}

.footer__btn-icon {
  margin-left: 10px;
}

.porfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .porfolio__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .porfolio__list {
    margin-bottom: 50px;
  }
}

.porfolio__item:not(:last-child) {
  margin-right: 8px;
}

.porfolio__btn {
  margin-top: 15px;
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #F5F4FA;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio__btn:hover, .porfolio__btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #FFFFFF;
  background-color: var(--accent-color);
}

.project__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .project__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.project__item {
  border: 1px solid #EEEEEE;
  width: 450px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .project__item {
    width: 354px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project__item {
    width: 370px;
  }
}

.project__item:hover, .project__item:focus {
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item:hover .overlay,
.project__item:focus .overlay {
  transform: translateY(0);
}

/* flex-basis: calc(100% / 9 -30px);
    margin-right: 30px;  */
.project__box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  color: var(--main-background);
  width: 450px;
  padding: 77px 24px;
}

@media screen and (min-width: 768px) {
  .project__description {
    width: 354px;
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .project__description {
    width: 370px;
    padding: 63px 24px;
  }
}

.project__type {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.project__after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*# sourceMappingURL=main.css.map */