/* основной цвет заголовка #FFFFFF */
/* второй цвет заголовка #212121 */
/* основной  цвет текста #757575 */
/* контакты цвет rgba(255, 255, 255, 0.6) */
/* акцент цвет #2196F3 */

/* основной фон #E5E5E5 */
/* второй фон #2F303A; */
/* третий фон  #F5F4FA */
/* фон шапки #FFFFFF */
/* фон подвал #2F303A*/

/* основной фон кнопки #2196F3 */
/* второй фон кнопки rgba(0, 0, 0, 0.15) */
/* основной цвет текста кнопки #FFFFFF */
/* второй цвет текста кнопки #212121 */
/* основной фон кнопки портфолио #F5F4FA */
/* второй фон кнопки портфолио #2196F3 */
/* основной текст кнопки портфолио #212121 */
/* второй цвет кнопки портфолио #FFFFFF */

/* основной цвет ссылок соцсетей #AFB1B8 */
/* ацент цвет ссылок соцсетей #FFFFFF*/
/* ацент цвет фона ссылок соцсетей #2196F3*/

/* основной цвет иконок модалок #212121 */


/* html{
    box-sizing: border-box;  
}

*,
*::before,
*::after {
    box-sizing: inherit;
}  */

/* *{
    box-sizing: border-box;
} */







/* -------- HEDER -------------------------- */

/* -------- HERO -------------------------- */

/* -------- DIFFERENCES -------------------------- */

/* -------- WORK -------------------------- */

/* -------- COMMAND -------------------------- */

/* -------- CLIENTS -------------------------- */

/* -------- FOOTER -------------------------- */

/* -------- MODAL -------------------------- */



/* -------- PORFOLIO -------------------------- */

/* ----- BTN ----- */



/* ---- PROJECTS---- */

