
:root {
    --main-title-color:#FFFFFF;
    --second-title-color:#212121;
    --main-text-color:#757575;
    --contacts-color:rgba(255, 255, 255, 0.6);
    --accent-color:#2196F3;
    --main-background:#FFFFFF;
    --second-background:#2F303A;
    --third-background:#F5F4FA;
    --header-background:#FFFFFF;
    --footer-background:#2F303A;
    --main-social-color:#AFB1B8;
    --sekond-social-color:#FFFFFF;
    --main-icon-modal-color:#212121;
}